<form class="form-horizontal" method="POST" action="save" enctype="multipart/form-data">
    <div class="form-group">
        <label class="control-label col-md-2" for="name">Имя:</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="name" name="name" placeholder="Введите имя" reuired>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="text">Текст задачи:</label>
        <div class="col-md-10">
            <textarea class="form-control" rows="5" id="text" name="content" required></textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="done">Выполнение:</label>
        <div class="col-md-10">            
            <input type="checkbox" name="done">                   
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="image">Картинка:</label>
        <div class="col-md-10">
            <input type="file" id="image" name="image">
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Отправить</button>
        </div>
    </div>
</form>
