<table class="table table-condensed table-striped table-bordered">
    <thead> 
    	<th>
    		<a href="/task?sort[field]=id&& sort[order]=<?php echo $data['order'] ?>">
    			<center>ID <span class="glyphicon glyphicon-sort"></span></center>
			</a>
    	</th>
        <th>
        	<a href="/task?sort[field]=name&& sort[order]=<?php echo $data['order']?>">
        		<center>Название <span class="glyphicon glyphicon-sort"></span></center>
    		</a>
		</th>
        <th>
        	<a href="/task?sort[field]=content&& sort[order]=<?php echo $data['order'] ?>">
        		<center>Описание<span class="glyphicon glyphicon-sort"></span></center>
    		</a>
		</th>
        <th>
        	<a href="/task">
        		<center>Статус</center>
    		</a>
		</th>   
		<th>
        	<a>
        		<center>Действие</center>
    		</a>
		</th>             
    </thead> 

    <tbody>
    	<?php if ($data['tasks']) { ?>
	    	<?php foreach ($data['tasks'] as $item) { ?>
		    	<tr>
		            <td>  
		                <hr><center><a href="/task/show/<?= $item['id']?>"><?= $item['id'];?></a></center><hr>                  
		            </td>
		            <td>  
		                <hr><center><?= $item['name'];?></center><hr>                  
		            </td>  
		            <td>  
		                <hr><center><?= $item['content'];?></center><hr>                  
		            </td>  
		            <td>  
		                <hr><center><?php if ($item['done']) : ?>
		                		выполнена
		                	<?php else : ?>
		                		не выполнена
		                	<?php endif?>
	                	</center><hr>                  
		            </td> 
	                <td class="text-right">
	                	<hr><center>
	                        <a class="btn btn-xs btn-info" href="/task/show/<?= $item['id']?>">
	                        	<i class="glyphicon glyphicon-eye-open"></i>
	                    	</a>
	                        <a class="btn btn-xs btn-warning" href="/task/edit/<?= $item['id']?>">
	                        	<i class="glyphicon glyphicon-edit"></i>
	                    	</a>
	                        <form action="/task/delete/<?= $item['id']?>" method="POST" style="display: inline;" onsubmit="if(confirm('Удалить? Вы уверены?')) { return true } else {return false };">
	                            <input type="hidden" name="_method" value="DELETE">
	                            <button type="submit" class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-trash"></i></button>
	                        </form> 
                        </center><hr>   
                    </td>                   
		        </tr> 
		    <?php }?>
		<?php } ?>    
	</tbody>
</table>
<ul class="pagination">
	<?php for ($i = 1; $i <= ceil($data['countPage'] / 3); $i++) {?>
		<li><a href="/task?page=<?php echo $i ?>"><?php echo $i ?></a></li>
	<?php } ?>		
</ul>            