<table class="table table-condensed table-striped table-bordered">
    <thead>
        <th><center>Название</center></th>
        <th ><center>Описание</center></th>
        <th ><center>Статус</center></th>               
    </thead> 

    <tbody>
    	<?php foreach ($data as $item) { ?>
	    	<tr>
	            <td>  
	                <hr><center><?= $item['name'];?></center><hr>                  
	            </td>  
	            <td>  
	                <hr><center><?= $item['content'];?></center><hr>                  
	            </td>  
	            <td>  
	                <hr><center><?php if ($item['done']) : ?>
	                		выполнена
	                	<?php else : ?>
	                		не выполнена
	                	<?php endif?>
                	</center><hr>                  
	            </td>  
	        </tr> 
	    <?php }?>
	</tbody>
</table>